#inputName {
    border-radius: 0.5em;
	text-align: center;
    width: 100%;
    height: 2em;
    box-shadow: none;
    font-size: 1em;
    border-style: solid;
}

#inputBeschreibung {
	border-radius: 1em;
	border-color: black;
	text-align: center;
	margin-bottom: 20px;
    margin-top: 2em;
    min-height: 5em;
    min-width: 100%;
    max-height: 10em;
    max-width: 100%;
    font-size: 1em;
    border-style: solid;
    border-width: 0.1em;
}

#inputPosten {
	background-color: transparent;
	margin-top: 3em;
	border-color: black;
	width: 100%;
	height: 4em;
	border-radius: 1em;
    font-size: 1em;
}

#inputPosten:hover {
	background-color: black;
	transition-duration: 0.3s;
	color: white;
}

#textHinzufuegen {
	font-size: 4em;
    text-align: center;
    font-weight: normal;
}

#inputBild{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


#labelBild {
    background-color: transparent;
    margin: 2em auto 0 auto;
	border-color: black;
	width: 10em;
	height: 10em;
	border-radius: 5em; 
	border: 0.2em solid;
	
} 
#divBackground{
	background-image: url("/images/add_black.svg");
	width:75px;
	height:75px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 37.5px;
}

#labelBild:hover #divBackground{
	background-image: url("/images/add_white.svg"); 
	background-size: cover;
}

#labelBild:hover {
	background-color: black;
	transition-duration: 0.3s;
	color: white;
	
} 

#countainerHinzufuegen{
	width:20em;
	margin-right:auto;
	margin-left:auto;
}


#upload_content {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

#upload_message {
    text-align: center;
}

#upload_buttons {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.upload_buttons {
    width: 25em;
    height: 4em;
    font-size: 1em;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-radius: 0.5em;
    display: block;
    margin-top: 2em;
}

#success_icon {
    width: 15em;
    height: 15em;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.success{
    background-image: url(/images/success.svg);
}

.error{
    background-image: url(/images/error.svg);
}


.upload_buttons:hover {
    background-color: black;
    color: white;
    transition-duration: 0.3s;
}

a {
    text-decoration: none;
}
