.bilder {
    width: 38em;
    height: 38em;
    float: left;
    background-size: cover;
    background-position: center center;
    margin: 0.5em;
    position: relative;
}

#galerie {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 117em;
}

@media (max-width: 117em) {
    #galerie {
        width: 78em;
    }
}

@media (max-width: 78em) {
    #galerie {
        width: 39em;
    }
}

#galerie_h1 {
    font-weight: 100;
}

.option {
    padding-top: 1px;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.option:hover {
    opacity: 1;
    transition-duration: 0.3s;
}

.edit {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 5em;
    height: 5em;
    background-image: url(/images/edit.svg);
    background-size: cover;
    cursor: pointer;
}

.ansehen {
    width: 15em;
    height: 15em;
    margin: 3em auto 0 auto;
    background-image: url(/images/show.svg);
    background-size: cover;
    cursor: pointer;
}

.delete {
    width: 5em;
    height: 5em;
    margin: 3em auto 0 auto;
    background-image: url(/images/delete.svg);
    background-size: cover;
    cursor: pointer;
}

#galerie:last-child {
    margin-bottom: 10em;
}

#anzeige_background {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

#anzeige_titel {
    font-size: 3em;
    color: white;
    font-weight: 100;
    margin: 0.3em auto 0.3em auto;
}

#anzeige_bild {
    max-width: 78em;
    max-height: 48em;
}

#left {
    width: 10em;
    height: 20em;
    float: left;
    margin-top: 20em;
    cursor: pointer;
}

#right {
    width: 10em;
    height: 20em;
    float: right;
    margin-top: 20em;
    cursor: pointer;
}

@media (max-width: 100em) {
    #anzeige_bild {
        max-width: 60em;
    }
}

@media (max-width: 81em) {
    #anzeige_bild {
        max-width: 50em;
    }
    #left {
        width: 5em;
    }
    
    #right{
        width: 5em;
    }
}

@media (max-width: 61em) {
    #anzeige_bild {
        max-width: 40em;
    }
    #left {}
}

#anzeige_text {
    color: white;
    font-size: 1.5em;
}

#right_img {
    width: 5em;
    margin-top: 7.5em;
}

#left_img {
    width: 5em;
    margin-top: 7.5em;
}

#close {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 3em;
    height: 3em;
    background-image: url(/images/close.svg);
    background-size: cover;
    cursor: pointer;
}

#suchergebnis {
    position: absolute;
    width: 20em;
    height: 10em;
    background-color: #f2f2f2;
    z-index: 5;
    top: 2em;
    display: none;
}

.ergebnis {
    width: 20em;
    height: 5em;
    margin-top: 1em;
}

.ergebnis_bild {
    height: 5em;
    width: 5em;
    float: left;
    background-size: cover;
    background-position: center center;
    margin-left: 1em;
    border-radius: 0.5em;
}

.ergebnis_titel {
    margin: 0 0 0 7em;
}

.ergebnis_text {
    margin: 0.5em 0 0 7em;
    overflow: hidden;
}
