.bilder{
    width: 38em;
    height: 38em;
    float: left;
    background-size: cover;
    background-position: center center;
    margin: 0.5em;
    position: relative;
}

#galerie {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 117em;
}

@media (max-width: 117em){
    #galerie{
        width: 78em;
    }
}

@media (max-width: 78em){
    #galerie{
        width: 39em;
    }
}

#galerie_h1 {
    font-weight: 100;
}

.option{
    padding-top: 1px;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.option:hover{
    opacity: 1;
    transition-duration: 0.3s;
}

.edit{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 5em;
    height: 5em;
    background-image: url(/images/edit.svg);
    background-size: cover;
}

.ansehen{
    width: 15em;
    height: 15em;
    margin: 3em auto 0 auto;
    background-image: url(/images/show.svg);
    background-size: cover;
}

.delete{
    width: 5em;
    height: 5em;
    margin: 3em auto 0 auto;
    background-image: url(/images/delete.svg);
    background-size: cover;
}

#galerie:last-child{
    margin-bottom: 10em;
}
#anzeige_background {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

#anzeige_titel {
    font-size: 3em;
    color: white;
    font-weight: 100;
    margin: 0.5em auto 0 auto;
}

#anzeige_bild {
    width: 80em;
}

#anzeige_text {
    color: white;
    font-size: 1.5em;
}
