.bilder{
    width: 38em;
    height: 38em;
    float: left;
    background-size: cover;
    background-position: center center;
    margin: 0.5em;
}

#galerie {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 117em;
}

@media (max-width: 117em){
    #galerie{
        width: 78em;
    }
}

@media (max-width: 78em){
    #galerie{
        width: 39em;
    }
}

#galerie_h1 {
    font-weight: 100;
}