body {
    margin: 0;
    padding: 0;
}

#logo {
    width: 5em;
    float: left;
    margin-left: 2em;
}

#suche {
    margin-top: 1.5em;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
}

#navigation {
    background-color: white;
    height: 5em;
    padding-top: 1px;
    border-width: thin;
    box-shadow: 0 0 1em gray;
}

#profil {
    width: 5em;
    float: right;
    margin-right: 2em;
}

#suchenfeld {
    width: 30em;
    height: 1.3em;
    font-size: 1em;
}

*{
    font-family: 'Raleway', sans-serif;
}
