body {
    margin: 0;
    padding: 0;
}

#logo {
    width: 4em;
    margin-top: 0.5em;
    float: left;
    margin-left: 2em;
}

#suche {
    margin-top: 1.5em;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

#navigation {
    background-color: white;
    height: 5em;
    padding-top: 1px;
    border-width: thin;
    box-shadow: 0 0 1em gray;
}

#profil {
    width: 3em;
    margin-top: 1em;
    float: right;
    margin-right: 5em;
}

#suchenfeld {
    width: 20em;
    height: 1.8em;
    font-size: 1em;
    text-align: center;
    border-radius: 0.5em;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
}

*{
    font-family: 'Raleway', sans-serif;
}

#footer {
    height: 20px;
    background-color: aqua;
}

#footerText {
    text-align: center;
}

#StartseiteText {
    font-size: 60px;
}

#StartseiteContainer {
    height: 400px;
    background-color: green;
    text-align: center;
}

#upload {
    float: right;
    width: 2em;
    margin-top: 1.5em;
    margin-right: 1em;
}

#logo_schrift_div {
    float: left;
    width: 20em;
    height: 3em;
    margin-left: 2em;
}

#logo_schrift {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    margin: 0;
    font-weight: normal;
}
